server.port=8888
server.servlet.context-path=/api
app.base-url=${APP_BASE_URL}
app.frontend-url=${APP_FRONTEND_URL}

spring.datasource.url=jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_NAME:chat_db}
spring.datasource.username=${DB_USERNAME:postgres}
spring.datasource.password=${DB_PASSWORD}
spring.datasource.driver-class-name=org.postgresql.Driver

spring.jpa.hibernate.ddl-auto=update
spring.jpa.show-sql=false
spring.jpa.properties.hibernate.format_sql=true
spring.jpa.properties.hibernate.dialect=org.hibernate.dialect.PostgreSQLDialect

spring.data.mongodb.host=${MONGO_HOST:localhost}
spring.data.mongodb.port=${MONGO_PORT:27017}
spring.data.mongodb.database=${MONGO_DB:chat_db}
spring.data.mongodb.auto-index-creation=true

logging.level.org.hibernate.SQL=DEBUG
logging.level.org.hibernate.type.descriptor.sql.BasicBinder=TRACE
logging.level.org.springframework.data.mongodb=DEBUG

jwt.secret=<your-secret-key-min-32-characters>
jwt.access-token-expiration=<access-token-expiration-in-ms>
jwt.refresh-token-expiration=<refresh-token-expiration-in-ms>

spring.data.redis.host=${REDIS_HOST}
spring.data.redis.port=${REDIS_PORT}
spring.data.redis.password=${REDIS_PASSWORD}
spring.data.redis.timeout=${REDIS_TIMEOUT}
spring.data.redis.connect-timeout=${REDIS_CONNECT_TIMEOUT}

spring.mail.host=smtp.gmail.com
spring.mail.port=587

spring.mail.username=your_email@gmail.com
spring.mail.password=your_app_password

spring.mail.properties.mail.smtp.auth=true
spring.mail.properties.mail.smtp.starttls.enable=true

spring.security.oauth2.client.registration.google.client-id=your-google-client-id
spring.security.oauth2.client.registration.google.client-secret=your-google-client-secret
spring.security.oauth2.client.registration.google.scope=openid,email,profile

rabbitmq.stomp.host=${RABBITMQ_STOMP_HOST}
rabbitmq.stomp.port=${RABBITMQ_STOMP_PORT}
rabbitmq.stomp.login=${RABBITMQ_STOMP_LOGIN}
rabbitmq.stomp.passcode=${RABBITMQ_STOMP_PASSCODE}

spring.profiles.active=dev